import library

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8


Import Keras
Let's go ahead and import the Keras library

In [10]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:
from keras.models import Sequential
from keras.layers import Dense

Build neural networks with 01 hidden layer (10 node) and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [12]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Split the data

In [13]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)


Train and Test the Network

In [15]:
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2023-10-24 01:56:02.357039: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2023-10-24 01:56:02.362419: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394315000 Hz
2023-10-24 01:56:02.363160: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55e5a7886750 executing computations on platform Host. Devices:
2023-10-24 01:56:02.363218: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2023-10-24 01:56:02.447555: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 364us/step - loss: 36084.3161
Epoch 2/50
721/721 [==============================] - 0s 129us/step - loss: 8828.0151
Epoch 3/50
721/721 [==============================] - 0s 93us/step - loss: 1581.3070
Epoch 4/50
721/721 [==============================] - 0s 106us/step - loss: 869.3299
Epoch 5/50
721/721 [==============================] - 0s 112us/step - loss: 846.4703
Epoch 6/50
721/721 [==============================] - 0s 87us/step - loss: 810.5072
Epoch 7/50
721/721 [==============================] - 0s 112us/step - loss: 780.9503
Epoch 8/50
721/721 [==============================] - 0s 84us/step - loss: 748.6219
Epoch 9/50
721/721 [==============================] - 0s 71us/step - loss: 717.0323
Epoch 10/50
721/721 [==============================] - 0s 90us/step - loss: 687.3056
Epoch 11/50
721/721 [==============================] - 0s 72us/step - loss: 657.7064
Epoch 12/50
721/721 [==============================] - 0s 77us/step - loss: 629.6063
Epoch 13/50
721/721 [==============================] - 0s 63us/step - loss: 603.1991
Epoch 14/50
721/721 [==============================] - 0s 78us/step - loss: 576.8955
Epoch 15/50
721/721 [==============================] - 0s 63us/step - loss: 551.9802
Epoch 16/50
721/721 [==============================] - 0s 71us/step - loss: 528.1139
Epoch 17/50
721/721 [==============================] - 0s 61us/step - loss: 505.4190
Epoch 18/50
721/721 [==============================] - 0s 82us/step - loss: 484.5505
Epoch 19/50
721/721 [==============================] - 0s 71us/step - loss: 465.1001
Epoch 20/50
721/721 [==============================] - 0s 69us/step - loss: 444.5918
Epoch 21/50
721/721 [==============================] - 0s 51us/step - loss: 425.6233
Epoch 22/50
721/721 [==============================] - 0s 83us/step - loss: 408.6782
Epoch 23/50
721/721 [==============================] - 0s 71us/step - loss: 392.8250
Epoch 24/50
721/721 [==============================] - 0s 70us/step - loss: 376.5055
Epoch 25/50
721/721 [==============================] - 0s 89us/step - loss: 362.0857
Epoch 26/50
721/721 [==============================] - 0s 67us/step - loss: 348.8944
Epoch 27/50
721/721 [==============================] - 0s 73us/step - loss: 336.8898
Epoch 28/50
721/721 [==============================] - 0s 61us/step - loss: 325.0908
Epoch 29/50
721/721 [==============================] - 0s 72us/step - loss: 313.5071
Epoch 30/50
721/721 [==============================] - 0s 88us/step - loss: 304.0627
Epoch 31/50
721/721 [==============================] - 0s 77us/step - loss: 294.0137
Epoch 32/50
721/721 [==============================] - 0s 62us/step - loss: 284.6749
Epoch 33/50
721/721 [==============================] - 0s 74us/step - loss: 277.2612
Epoch 34/50
721/721 [==============================] - 0s 84us/step - loss: 271.4286
Epoch 35/50
721/721 [==============================] - 0s 70us/step - loss: 260.7045
Epoch 36/50
721/721 [==============================] - 0s 61us/step - loss: 255.4101
Epoch 37/50
721/721 [==============================] - 0s 66us/step - loss: 249.1985
Epoch 38/50
721/721 [==============================] - 0s 65us/step - loss: 242.8593
Epoch 39/50
721/721 [==============================] - 0s 57us/step - loss: 237.1176
Epoch 40/50
721/721 [==============================] - 0s 59us/step - loss: 233.1542
Epoch 41/50
721/721 [==============================] - 0s 77us/step - loss: 227.6102
Epoch 42/50
721/721 [==============================] - 0s 54us/step - loss: 223.7098
Epoch 43/50
721/721 [==============================] - 0s 80us/step - loss: 219.4015
Epoch 44/50
721/721 [==============================] - 0s 68us/step - loss: 215.8311
Epoch 45/50
721/721 [==============================] - 0s 64us/step - loss: 212.2504
Epoch 46/50
721/721 [==============================] - 0s 62us/step - loss: 208.0616
Epoch 47/50
721/721 [==============================] - 0s 76us/step - loss: 204.8017
Epoch 48/50
721/721 [==============================] - 0s 77us/step - loss: 201.8432
Epoch 49/50
721/721 [==============================] - 0s 64us/step - loss: 198.9856
Epoch 50/50
721/721 [==============================] - 0s 62us/step - loss: 196.5184

In [16]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 102us/step

206.30099220646238



Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [17]:


from sklearn.metrics import mean_squared_error

In [18]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

206.3009736325999 0.0



Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 108.88543965361265
MSE 2: 111.31892069103648
MSE 3: 71.84347223078163
MSE 4: 72.140068251724
MSE 5: 71.36489369414
MSE 6: 72.92525672295332
MSE 7: 77.56966535944768
MSE 8: 64.93946265557051
MSE 9: 74.14783253098769
MSE 10: 67.2325492291003
MSE 11: 61.65833129389001
MSE 12: 62.31593096834942
MSE 13: 74.88710718247496
MSE 14: 71.72197886346613
MSE 15: 66.31993231418448
MSE 16: 54.31741732378222
MSE 17: 61.008701287426994
MSE 18: 58.055864871126936
MSE 19: 57.437340671576344
MSE 20: 68.00885973933445
MSE 21: 58.997896015451175
MSE 22: 64.88659879073356
MSE 23: 56.16988154290949
MSE 24: 64.11270140367033
MSE 25: 61.458270421691694
MSE 26: 69.39067285037736
MSE 27: 61.24724922056723
MSE 28: 67.02433648464364
MSE 29: 71.39536073061255
MSE 30: 73.0725730352803
MSE 31: 71.29816160232889
MSE 32: 59.57433143788557
MSE 33: 67.44335735037103
MSE 34: 73.1360275861129
MSE 35: 72.18460764468296
MSE 36: 79.27225875854492
MSE 37: 67.85911264388693
MSE 38: 66.67367712965289
MSE 39: 66.28096677415965
MSE 40: 59.08182192311703
MSE 41: 74.29267693183183
MSE 42: 68.44905392791847
MSE 43: 67.5253677738523
MSE 44: 69.92099912575533
MSE 45: 67.17767652493079
MSE 46: 67.97264534910134